{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}
 <div class="container_1">

  <main class="main">

        <h1 class="prendre_rdv_accueil">Réservez votre consultation chez un professionnel de santé </h1>

     <div class="container_formulaire_accueil">

      <form id="formulaire_accueil" action="">

       <select class="select_formulaire_accueil" name="">
           <option class="op_accueil" placeholder="Spécialité"  value="">Spécialité</option>
           <option class="op_accueil"  value="">2</option>
           <option class="op_accueil"  value="">3</option>
       </select>

       <input class="input_formulaire_accueil" name="lieu" placeholder="Département, ville..."></input>
       <input class="input_formulaire_accueil" name="medecin_etablissement" placeholder="Médecin, établissement..."></input>  

       <button class="valider_accueil">
          <span class="valider2_accueil">Rechercher</span> 
          <div class="loupe_accueil"></div>
       </button>

      </form>

    </div>

  </main>
 </div>

 <div class="container_2_accueil">
    <section class="section_1_accueil">

    </section>
 </div>

{% endblock %}
