{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}
 <div class="container_1">

     <main class="main">
         <div class="carousel-slide">
          <img id="carou_imgun "src="img/imgdoc3.jpg" alt="">
          <img id="carou_imgdeux "src="img/imgdoc2.jpg" alt="">
          <img id="carou_imgtrois "src="img/imgdoc1.jpg" alt="">

         </div>

     </main>

 </div>

 <div class="container_2">
    <section class="section_1">

    </section>
 </div>

{% endblock %}
