/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
tr
{
    max-height: 100px !important;
}
body {
	line-height: 1;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/************************************************************/
/****************************************HEADER FOOTER PAGE D'ACCUEIL***************************************************/

:root {
    font-family: 'Roboto Mono', monospace;
    --couleurune: #23c9c9;
    --couleurdeux: rgb(159, 159, 163);
    --couleurtrois: rgb(97, 97, 153);
}
:root::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none; 
    overflow: -moz-scrollbars-none; 
    }
.nav {
 
    width: 100%;
    height: 70px;
    background-image: linear-gradient(to left bottom, #1aaaaa, #03b8af, #00c6b1, #1ad4b0, #36e1ad);
    display: grid;
    grid-template-columns: 2.5fr 1fr 0.3fr 0.4fr;
    border-bottom: 2px solid azure;
}
#logo {
    background-image: url("img/logosite2.png");
    width: 120px;
    height: 70px;
    background-size: 85%;
    background-position: 5px -20px;
    position: absolute;
    background-repeat: no-repeat;
    
}

#logo:hover {
    filter: contrast(200%);
    transition: 0.2s ease;
    width: 120px;
    height: 70px;
    background-size: 85%;
    border-right: 2px solid rgba(0, 0, 0, 0.568);
      background-position: 5px -20px;
}

.nav_enfantco {
        border: 1px solid rgba(0, 0, 0, 0);
        display: flex;
        justify-content: center;
        text-decoration: none;
        
}
.nav_enfantco:hover {
  
    text-shadow: #000000;

    transition: 0.5s ease;
    border-left: 2px solid rgba(0, 0, 0, 0.568);
    border-right: 2px solid rgba(0, 0, 0, 0.568);
}
.espace_medecin_container {
    display: flex;
    justify-content: center;
   
}
.espace_medecin {
     min-width: 65%;
     height: 50px;
     background-color: rgb(7, 7, 7);
     border-radius: 5px;
     align-self: center;
     text-align: center;
     display: flex;
     justify-content: space-evenly;
}
.espace_medecin:hover {
    cursor: pointer;
    transition: 0.5s ease;
    filter: saturate(0%);
}
#iconmed {
    background-image: url("img/doctor.png");
    background-size: 100%;
    background-repeat: no-repeat;
    min-width: 40PX;
    width: 40px;
    margin-top: 5px; 
    
}
.span1 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 20px;
    align-self: center;
}
.ne2 {
    justify-content: center;
    cursor: pointer;
}
.span1_1 {
    color: var(--couleurune);
}
.span2 {
    font-weight: bolder;
     color: rgb(0, 0, 0);
     font-size: 16px;
     text-transform: initial;
}
.span3 {
    color: azure;
    font-size: 25px;

}
.container_1 {
      width: 100%;
      height: 600px;
      background-color: var(--couleurdeux);
}
.main {

    background-image: url("img/imgdoc3.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
 
    width: 100%;
    margin: 0 auto;
    height: 600px;
    display: flex;   
    flex-direction: column;
    justify-content: center;
}
.carousel-slide {
    box-sizing: border-box;
  overflow: hidden;
   display: flex;
   height: 600px;
   width: 100%;
}
img {
    background-size: auto;
    background-attachment: fixed;
    min-width: 100%;
    /*min-height: 650px;*/
}
.container_prendre_rdv {   
    width: 100%;
    background-color: var(--couleurtrois);
    height: 50px;
}
#formulaire_accueil {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    z-index: 1;
    width: 100%;
    height: 50px;
    border: 2px solid black;
    display: flex; 
    
}
.prendre_rdv_accueil {
    letter-spacing: 1.5px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    font-size: 30px;
    position: absolute;

    min-width: 500px;
    line-height: 40px;
    top: 25%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}
.container_formulaire_accueil {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    z-index: 1;
    min-width: 50%;
    min-height: 50px;
    background-color: #23c9c9;
   
    align-self: center;
    display: flex;
    justify-content: space-around;
}
.select_formulaire_accueil {

    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    width: 30%;
    border: none;
    background-color: rgba(0, 0, 255, 0);
    font-size: 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
}
.op_accueil {
    background-color: rgb(12, 12, 12);
    width: 20px;
}
.input_formulaire_accueil {
    font-size: 15px;
    border: none;
    width: 30%;
    min-height: 50px;
    align-self: center;
     background-color: rgba(30, 74, 131, 0);
}
.valider_accueil {  
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    min-width: 23%;
    min-height: 50px;
    background-color: rgb(12, 12, 12);
    cursor: pointer;
    display: flex;
    justify-content: space-around;
}

.valider_accueil:hover {
    transition: 0.5s ease;
    background-color: rgb(77, 77, 77);
    
}  
.valider2_accueil { 
    padding: 10px;
    border-radius: 5px;
    color: var(--couleurune);
    font-size: 18px;
    align-self: center;
}

.valider2_accueil:hover {
    transition: 0.5s ease;
    background-color: rgb(77, 77, 77);
    color: white;
    
}  
.loupe_accueil {
    position: relative;
    background-image: url("img/loupe.png");
    background-size: 100%;
    background-repeat: no-repeat;
    min-width: 20px;
    min-height: 20px;
    align-self: center;
    left: 0%;
    color: white;
}

.container_2_accueil {
    width: 100%;
    height: 700px;
    background-color: white;
}

footer {
    border-top: 2px solid white;
    width: 100%;
    height: 170px;
    background-color: var(--couleurune);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footerhaut {
    margin: 0 auto;
    width: 80%;
    height: 80px;
    border: 0PX solid black;
    display: flex;
}
.condition {
    display: flex;
    border: 0px solid brown;
    width: 50%;
}
.plandusite {
    width: 50%;
    display: flex;
    border: 0px solid brown;
    padding: 5px;
    justify-content: space-around;
}
.pds_txt {
    line-height: 23px;
   height: 70px;

}
.pds_txta {
    font-weight: bolder;
    font-size: 13px;
    color: black;
   text-decoration: none;
}
.pds_txta:hover {
    color: white;
}
#logocopyright {
    background-image: url("img/logosite.png");
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: -9px -14px;
    align-self: center;
    min-width: 70px;
    height: 70px;
    border-radius: 100px;
    background-color: black;
}
.para_droit {    
    margin-left: 10px;
    margin-top: 10px;
    
    height: 70px;
    overflow: hidden;
    line-height: 20px;
      font-weight: 600;
      color: rgb(0, 0, 0);
      font-size: 13px;
      text-transform: initial;
}
.logofooter_container {
    margin: 0 auto;
    width: 100%;
    height: 50px;
    background-color: rgb(224, 224, 224);
    display: flex;
    justify-content: center;
}
.logofooter {
    width: 25%;
    min-width: 200px;
    height: 50px;
    border: 0PX solid rgb(148, 9, 9);
    display: flex;
    justify-content: space-around;
}
#email,#facebook,#twitter {
     background-size: 100%;
     background-repeat: no-repeat;
     background-position: 0px 0px;
     align-self: center;
     min-width: 30px;
     height: 30px;
}
.img-medecins{
    width: 200px !important;
    height: 200px !important;
}
#email,#facebook,#twitter:hover {
    cursor: pointer;
}
#email {
    background-image: url("img/email.png");
}
#facebook {
    background-image: url("img/facebook.png");
}
#twitter {
    background-image: url("img/twitter.png");
}
/***************************************** FICHE MEDECIN ****************************************************/
.h2_note_med {
    align-self: center;
    line-height: 70px;
    font-weight: bolder;
    color: var(--couleurune);
    font-size: 25px;
    letter-spacing: 2.5px;
}
.nom_du_med_fiche {
    align-self: center;
    font-weight: 900;
    color: black;
    font-size: 20px;
}
.section_1_accueil {
    width: 95%;
    margin: 0 auto;
    height: 700px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.25fr 1.25fr 1.25fr;
    grid-auto-flow: row;
    gap: 3%;
}
.fiche_medecin {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 2px solid black;
    min-width: 400px;
    border-radius: 10px;
    }
    .fm_child1 {
        border: none;
         grid-column-start: 1;
         grid-column-end: 3;
         grid-row-start: 1;
         background-color: rgba(0, 0, 0, 0);
    }
    .fm_child2 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        background-image: linear-gradient(to left bottom, #1aaaaa, #03b8af, #00c6b1, #1ad4b0, #36e1ad);;
    }
    .fm_child3 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        background-image: linear-gradient(to left bottom, #1aaaaa, #03b8af, #00c6b1, #1ad4b0, #36e1ad);;

    }
    .fm_child4 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        background-image: linear-gradient(to left bottom, #1aaaaa, #03b8af, #00c6b1, #1ad4b0, #36e1ad);;
    }
    .fiche_haut {
     display: flex;
     height: 70%;
     width: 100%;
     background-color: rgba(58, 70, 110, 0);
     flex-direction: row;
    }
    .para_fiche_container {
      display: flex;
      flex-direction: column;
      margin-left: 20px; 
      margin-top: 5px; 
    }
    .para_fiche {
          line-height: 20px;
          color: white;
          font-weight: bolder;
    }
.photo_fichemed {
margin-top: 10px;
margin-left: 10px;
background-color: rgb(238, 238, 238);
height: 95px;
width: 95px;
border-radius: 55px;
}
.fiche_medbas {
display: flex;
height: 30%;
width: 100%;
background-color: rgb(22, 22, 22);
align-self: flex-end;
flex-direction: row;
justify-content: space-between;
}
.bouton_rdv_accueil {
    font-size: 14px;
font-weight: bolder;
height: 40px;
width: 200px;
background-color: rgb(255, 255, 255);
border: none;
cursor: pointer;
border-radius: 15px;
margin-left: 50px;
align-self: center;
}
.bouton_rdv_accueil:hover {
    transition: 0.2s ease;
    color: var(--couleurune);
    border: 1px solid white;
    border-radius: 30px;
    }
.bouton_ensavoirplus {
font-size: 14px;
font-weight: bolder;
height: 40px;
width: 130px;
background-color: rgb(238, 238, 238);
color: rgb(19, 19, 19);
border: none;
cursor: pointer;
border-radius: 15px;
margin-left: 50px;
align-self: center;
}
.bouton_ensavoirplus:hover {
    transition: 0.2s ease;
    color: var(--couleurune);
    border: 1px solid white;
    border-radius: 30px;
    }
.avis_fichemed {
border-top-left-radius: 45px;
align-self: flex-end;
height: 40px;
width: 150px;
color: black;
font-weight: bolder;
font-size: 14px;
background-color: rgb(255, 255, 255);
text-align: start;
line-height: 40px;
padding-left: 10px;
}
.espace_marketing {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    border: 2px solid black;
    background-color: #ffffff00;
    min-width: 400px;
}
.marketing_txt {
    align-self: center;
    font-weight: 900;
    color: black;
    font-size: 20px;
    width: 50%;
    line-height: 30px;
}
.photomedecin_marketing {
    background-image: url("img/imagemedecinzer.jpg");
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
    height: 140px;
    width: 140px;
    background-color: rgb(255, 255, 255);
    align-self: center;
    border-radius: 100px;
  }
  .pm2 {
    background-image: url("img/positive-young-man-holding-banana-and-showing-thumb-up.jpg")
  }
.fm_child5 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    border: none;
}
.fm_child6 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    border: none;
}


/******************************* MEDIA QUERIES ACCUEIL *************************************************************/
@media screen and (max-width: 850px) { 
    .espace_marketing {
        display: none;
    }

}

@media screen and (max-width: 650px) {
     #formulaire_accueil {
         flex-direction: column;
     }
     #formulaire_accueil {
         height: 190px;
     }
     #container_formulaire_accueil {
        height: 190px;
    }
     .input_formulaire_accueil {
           width: 100%;
           height: 20%;
     }
     .select_formulaire_accueil {
        height: 20%;
        width: 100%;
     }
     .valider_accueil {
         border-bottom-left-radius: 50px;
         border-top-right-radius: 0px;
         height: 20%;
     }

     .prendre_rdv_accueil {
          display: none;
     }

  }


/****************************************INSCRIPTION***************************************************/
.big_container_inscription {

    background-image: url("img/imgdoc3.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
   
 
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    justify-content: center;
}

.filter_blur_inscription {

    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.418);
    position: absolute;

    z-index: 2;
}
.container_inscription {
    z-index: 3;

    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 85vh;
    width: 30%;
    min-width: 450px;
    border-radius: 20px;
    background-image: linear-gradient(to left bottom, #1aaaaa, #03b8af, #00c6b1, #1ad4b0, #36e1ad);
}
.inscription {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0);
    width: 90%;
    min-height: 80vh;
    margin: 0 auto;
}
.titre1_inscription {
    letter-spacing: 1.5px;
    color: white;
    font-size: 25px;
    align-self: center;
}
.titre2_inscription {
    letter-spacing: 1.5px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    align-self: center;
}
.formulaire_inscription {
    display: flex;
    flex-direction: column;
}
.email_inscription_input {
    background-color: rgba(137, 43, 226, 0);
    border-bottom: 2px solid #000000a8;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px;
    border-radius: 0px;
    color: white;
    font-size: 18px;
}


/************************************ESPACE MEDECIN***************************************************/
.big_container_inscription_espacemed {
    background-image: url("img/imgdoc3.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
   
 
    display: flex;
    width: 100%;
    min-height: 110vh;
    background-color: rgb(255, 255, 255);
    justify-content: center;
}
.filter_blur_inscription_espacemed {
    width: 100%;
    min-height: 110vh;
    background-color: rgba(0, 0, 0, 0.418);
    position: absolute;
    z-index: 2;
}
.container_inscription_espacemed {
    z-index: 3;

    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 85vh;
    width: 30%;
    min-width: 450px;
    border-radius: 20px;
    background-image: linear-gradient(to left bottom, #1aaaaa, #03b8af, #00c6b1, #1ad4b0, #36e1ad);
}

.logo_connexion_espacemed {
    background-image: url("img/doctor.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: -0px -0px;

    align-self: center;
    background-color: #23c9c9;
    height: 105px;
    width: 105px;
    border-radius: 55px;
  }
@media screen and (max-height: 780px) {

    .container_inscription_espacemed {
        height: 110vh;
    }
    .big_container_inscription_espacemed {
        min-height: 140vh;
    }
    .filter_blur_inscription_espacemed {
        min-height: 140vh;
    }

  }

/****************************************CONNEXION***************************************************/

.bcontinuer {
    margin-top: 30px;
    background-color:#000000;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    padding: 15px;
    border-radius: 30px;
    align-self: center;
    font-size: 14px;
}
.bcontinuer:hover {
    transition: 0.2s ease;
    color: #23c9c9;
    opacity: 0.8;
}
.big_container_connexion{

    background-image: url("img/imgdoc3.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
   
 
    display: flex;
    width: 100%;
    min-height: 80vh;
    background-color: rgb(255, 255, 255);
    justify-content: center;


}
.filter_blur_connexion {

    width: 100%;
    min-height: 80vh;
    background-color: rgba(0, 0, 0, 0.418);
    position: absolute;

    z-index: 2;
}
.container_connexion {
    z-index: 3;

    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 60vh;
    width: 20%;
    min-width: 300px;
    border-radius: 20px;
    background-image: linear-gradient(to left bottom, #1aaaaa, #03b8af, #00c6b1, #1ad4b0, #36e1ad);
}
.connexion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0);
    width: 80%;
    min-height: 60vh;
    margin: 0 auto;
}
.logo_connexion {
    background-image: url("img/logosite2.png");
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: -8px -15px;

    align-self: center;
    background-color: #23c9c9;
    height: 105px;
    width: 105px;
    border-radius: 55px;
  }
.titre1_connexion {
    letter-spacing: 1.5px;
    color: white;
    font-size: 25px;
    align-self: center;
}
.formulaire_connexion {
    display: flex;
    flex-direction: column;
}
.email_connexion {
    align-self: center;
}  
.password_connexion {
    align-self: center;
}

.email_connexion_input{   
    background-color: rgba(137, 43, 226, 0);
    border-bottom: 2px solid #000000a8;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}
.password_connexion_input {
    color: white;
    background-color: rgba(137, 43, 226, 0);
    border-bottom: 2px solid #000000a8;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 18px;
}

/*input[type=password]:focus {
} */
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.8; /* Firefox */  
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    opacity: 0.8;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
    opacity: 0.8;
  
  }