html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/************************************************************/
/****************************************HEADER FOOTER PAGE D'ACCUEIL***************************************************/

:root {
    font-family: 'Roboto Mono', monospace;
    --couleurune: #23c9c9;
    --couleurdeux: rgb(159, 159, 163);
    --couleurtrois: rgb(97, 97, 153);
}
:root::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none; 
    overflow: -moz-scrollbars-none; 
    }
.nav {
 
    width: 100%;
    height: 70px;
    background-image: linear-gradient(to left bottom, #1aaaaa, #03b8af, #00c6b1, #1ad4b0, #36e1ad);
    display: grid;
    grid-template-columns: 2.5fr 1fr 0.3fr 0.4fr;
    border-bottom: 2px solid azure;
}
#logo {
    background-image: url("img/logosite2.png");
    width: 120px;
    height: 70px;
    background-size: 85%;
    background-position: 5px -20px;
    position: absolute;
    background-repeat: no-repeat;
    
}
.nav_enfant {
        border: 1px solid rgba(0, 0, 0, 0);
        display: flex;
        
}
.espace_medecin_container {
    display: flex;
    justify-content: center;
   
}
.espace_medecin {
     width: 65%;
     height: 50px;
     background-color: rgb(7, 7, 7);
     border-radius: 5px;
     align-self: center;
     text-align: center;
     display: flex;
     justify-content: space-evenly;
}
.espace_medecin:hover {
    cursor: pointer;
    transition: 0.5s ease;
}
#iconmed {
    background-image: url("img/doctor.png");
    background-size: 100%;
    background-repeat: no-repeat;
    min-width: 40PX;
    width: 40px;
    margin-top: 5px; 
    
}
.span1 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 20px;
    align-self: center;
}
.ne2 {
    justify-content: center;
    cursor: pointer;
}
.span1_1 {
    color: var(--couleurune);
}
.span2 {
    font-weight: bolder;
     color: rgb(0, 0, 0);
     font-size: 16px;
     text-transform: initial;
}
.span3 {
    color: azure;
    font-size: 25px;

}
.container_1 {
      width: 100%;
      height: 600px;
      background-color: var(--couleurdeux);
}
.main {
    width: 80%;
    margin: 0 auto;
    height: 600px;
    background-color: var(--couleurune);
    display: flex;   
    flex-direction: column;
    justify-content: center;
}
.carousel-slide {
    box-sizing: border-box;
  overflow: hidden;
   display: flex;
   height: 600px;
   width: 100%;
}
img {
    background-size: auto;
    background-attachment: fixed;
    min-width: 100%;
    min-height: 650px;
}
.container_prendre_rdv {   
    width: 100%;
    background-color: var(--couleurtrois);
    height: 50px;
}
#formulaire {
    z-index: 1;
    width: 80%;
    height: 50px;
    background-color: rgba(218, 218, 218, 0.781);
    align-self: center;
    display: flex;
    justify-content: space-around;
}
.choix {
    width: 25%;
    height: 70%;
    align-self: center;
}
#select {
    width: 25%;
    height: 80%;
    align-self: center;
}
.valider {  
    width: 25%;
    height: 50px;
    background-color: rgba(74, 206, 92, 0.781);
     border: none;
     cursor: pointer;

}
.container_2 {
    width: 100%;
    height: 700px;
    background-color: var(--couleurtrois);
}
.section_1 {
    width: 80%;
    margin: 0 auto;
    height: 700px;
    background-color: var(--couleurdeux);
}
footer {
    border-top: 2px solid white;
    width: 100%;
    height: 170px;
    background-color: var(--couleurune);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footerhaut {
    margin: 0 auto;
    width: 80%;
    height: 80px;
    border: 0PX solid black;
    display: flex;
}
.condition {
    display: flex;
    border: 0px solid brown;
    width: 50%;
}
.plandusite {
    width: 50%;
    display: flex;
    border: 0px solid brown;
    padding: 5px;
    justify-content: space-around;
}
.pds_txt {
    line-height: 23px;
   height: 70px;

}
.pds_txta {
    font-weight: bolder;
    font-size: 13px;
    color: black;
   text-decoration: none;
}
.pds_txta:hover {
    color: white;
}
#logocopyright {
    background-image: url("img/logosite.png");
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: -9px -14px;
    align-self: center;
    min-width: 70px;
    height: 70px;
    border-radius: 100px;
    background-color: black;
}
.para_droit {    
    margin-left: 10px;
    margin-top: 10px;
    
    height: 70px;
    overflow: hidden;
    line-height: 20px;
      font-weight: 600;
      color: rgb(0, 0, 0);
      font-size: 13px;
      text-transform: initial;
}
.logofooter_container {
    margin: 0 auto;
    width: 100%;
    height: 50px;
    background-color: rgb(224, 224, 224);
    display: flex;
    justify-content: center;
}
.logofooter {
    width: 15%;
    height: 50px;
    border: 0PX solid rgb(148, 9, 9);
    display: flex;
    justify-content: space-around;
}
#email,#facebook,#twitter {
     background-size: 100%;
     background-repeat: no-repeat;
     background-position: 0px 0px;
     align-self: center;
     min-width: 30px;
     height: 30px;
}
#email,#facebook,#twitter:hover {
    cursor: pointer;
}
#email {
    background-image: url("img/email.png");
}
#facebook {
    background-image: url("img/facebook.png");
}
#twitter {
    background-image: url("img/twitter.png");
}

/****************************************INSCRIPTION***************************************************/
.big_container_inscription {

    background-image: url("img/imgdoc3.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
   
 
    display: flex;
    width: 100%;
    min-height: 80vh;
    background-color: rgb(255, 255, 255);
    justify-content: center;
}
.container_inscription {
    z-index: 3;

    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 70vh;
    width: 30%;
    min-width: 300px;
    border-radius: 20px;
    background-image: linear-gradient(to left bottom, #1aaaaa, #03b8af, #00c6b1, #1ad4b0, #36e1ad);
}
.inscription {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0);
    width: 80%;
    min-height: 70vh;
    margin: 0 auto;
}
.titre1_inscription {
    letter-spacing: 1.5px;
    color: white;
    font-size: 25px;
    align-self: center;
}
.titre2_inscription {
    letter-spacing: 1.5px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    align-self: center;
}
.formulaire_inscription {
    display: flex;
    flex-direction: column;
}
.email_inscription_input {
    background-color: rgba(137, 43, 226, 0);
    border-bottom: 2px solid #000000a8;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px;
    border-radius: 0px;
    color: white;
    font-size: 18px;
}






/****************************************CONNEXION***************************************************/

.bcontinuer {
    margin-top: 30px;
    background-color:#000000;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    padding: 15px;
    border-radius: 30px;
    align-self: center;
    font-size: 14px;
}
.bcontinuer:hover {
    transition: 0.2s ease;
    color: #23c9c9;
    opacity: 0.8;
}
.big_container_connexion{

    background-image: url("img/imgdoc3.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
   
 
    display: flex;
    width: 100%;
    min-height: 80vh;
    background-color: rgb(255, 255, 255);
    justify-content: center;


}
.filter_blur {

    width: 100%;
    min-height: 80vh;
    background-color: rgba(0, 0, 0, 0.418);
    position: absolute;

    z-index: 2;
}
.container_connexion {
    z-index: 3;

    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 60vh;
    width: 30%;
    min-width: 300px;
    border-radius: 20px;
    background-image: linear-gradient(to left bottom, #1aaaaa, #03b8af, #00c6b1, #1ad4b0, #36e1ad);
}
.connexion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0);
    width: 80%;
    min-height: 60vh;
    margin: 0 auto;
}
.logo_connexion {
    background-image: url("img/logosite2.png");
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: -8px -15px;

    align-self: center;
    background-color: #23c9c9;
    height: 105px;
    width: 105px;
    border-radius: 55px;
  }
.titre1_connexion {
    letter-spacing: 1.5px;
    color: white;
    font-size: 25px;
    align-self: center;
}
.formulaire_connexion {
    display: flex;
    flex-direction: column;
}
.email_connexion {
    align-self: center;
}  
.password_connexion {
    align-self: center;
}

.email_connexion_input{   
    background-color: rgba(137, 43, 226, 0);
    border-bottom: 2px solid #000000a8;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}
.password_connexion_input {
    color: white;
    background-color: rgba(137, 43, 226, 0);
    border-bottom: 2px solid #000000a8;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 18px;
}

input[type=password]:focus {
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.8; /* Firefox */  
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    opacity: 0.8;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
    opacity: 0.8;
  
  }