{% extends 'home.html.twig' %} 

{% block body %}

	<h1>
		Recherche avancée
	</h1>


		{{ form_start(formSearch, {'attr': {'class': 'col-md-3 mx-auto'}} ) }}

		{{ form_row(formSearch.specialite) }}

		{{ form_row(formSearch.departement) }}

		<button type="submit">Rechercher
		</button>


		{{ form_end(formSearch) }}


{% endblock %}
